<h1 mat-dialog-title>
    <div class="dialog-close-button">
        <button mat-icon-button (click)="dialogRef.close()" tabindex="-1">
            <mat-icon aria-hidden="false">close</mat-icon>
        </button>
    </div>
    <a>Produto</a>
</h1>

<mat-dialog-content>
    <mat-card-content>
        <form class="my-form" [formGroup]="ownerForm">

            <mat-form-field class="full-width">
                <mat-label>Descrição</mat-label>
                <input matInput type="text" placeholder="Descrição" formControlName="descricao">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Valor</mat-label>
                <input matInput type="number" placeholder="Valor" formControlName="valor">
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button (click)="save()" color="primary" [disabled]="!ownerForm.valid">Salvar</button>
</mat-dialog-actions>